.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/public/images/img-14.jpg") center center/cover no-repeat;
  color: white;
}

.contact-box {
  width: 80vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-box > h1 {
  font-size: 4rem;
  font-family: 'Times New Roman', Times, serif;
}
.contact-details-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: 10px 16px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(244, 244, 244, 0.017));
  filter: drop-shadow(10px 6px 20px rgba(56, 125, 255, 0.017));
}

.contact-item-container > b {
  font-size: 1.5rem;
}

.contact-item-container > span:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

address {
  text-decoration: none;
  font-style: normal;
}

.contact-item-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

i {
  margin: 0.5rem;
}
