.service-offerings-container{
   display: flex;
   justify-content: center;
   align-items: center;
   padding:2rem;
   color: #242424;
   background-color: #F4F7F5;
}

.service-offerings-container > section{
    width: 70%;
    padding: 1rem;
}

.service-offerings-container > section > div > h1{
    font-size: 1.5rem;
}

.offering-description-box{
    margin:2rem;
    text-align: justify;
    font-size: 1rem;
}

.offering-description-box >h2{
    margin:.5rem 0rem .5rem 0rem;
}

.offering-description-box >h2:hover{
    text-decoration: underline;
    cursor: pointer;
}

.service-offering-box{
    background-color: white;
}