.about-me-container{
    display: flex;
    justify-content: center;
}
.about-me-box{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:3rem;
    text-align:left;
}

.about-me-box > p{
    display: block;
    margin-block-start: .5em;
    margin-block-end: .5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;}

.about-me-box h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}

.about-me-box > span{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 3.5px;
    line-height: 1.5;
    opacity: 0.7;
    padding: 0 0 10px;
    text-transform: uppercase;
    margin: .5rem;
}

.about-me-profile-logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
}

.about-me-profile-logo-container>img{
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

