.about-me-box{
    width: 60%;
    padding:3rem;
    text-align:left;
}

.about-me-box h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}

.about-me-box > p{
    display: block;
    margin-block-start: .5em;
    margin-block-end: .5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;}

.about-me-box > span{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 3.5px;
    line-height: 1.5;
    opacity: 0.7;
    padding: 0 0 10px;
    text-transform: uppercase;
    margin: .5rem;
}

.about-me-box > div > img{
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

@media screen and (max-width:960px) {

  .about-me-box{
    width:100%;
  }
  .about-me-box > p{
    font-size: large;
  } 
}