.article-wrapper {
  padding: 2rem;
  font-size: 1.1rem;
}

.article-wrapper h1 {
    font-size: 2.1rem;
    text-align: left;
}

.article-wrapper blockquote {
  background: #f4f7f5;
  border-left: 10px solid var(--primary-color);
  margin: 1.5em 0px;
  padding: 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.article__cover img {
  width: 100%;
}

/* style specific to BlogCardItem */
.blog-post-container {
  width: 60%;
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 1.5rem;
  border-radius: 3px;
}

.blog-container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog-item-container {
width: 21rem;
height: 16rem;
margin: 1rem;
box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
-webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
cursor: pointer;
}

.blog-item-box {
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.blog-item-box-header {
padding: 1rem;
height: 75%;
background-color: antiquewhite;
color: white;
background: url("/public/images/img-23.jpg") center center/cover no-repeat;
}

.blog-item-box-footer {
padding: 0.5rem 1rem;
color: black;
display: flex;
flex-direction: column;
justify-content: center;
height: 25%;
}


