.contact-container {
  display: flex;
  justify-content: center;
  color: #242424;
  height: 90vh;
  align-items: center;
  background-color: #ffff;
}

.contact-box {
  width: 80vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact-box > h1 {
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
}
.contact-details-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  align-items: center;
  width:100%;
}

.contact-item-container > b {
  font-size: 1.5rem;
}

.contact-item-container > span:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

address {
  text-decoration: none;
  font-style: normal;
}

.contact-item-container {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  border: .1rem solid lightgray;
  border-radius: 5px;
}

i {
  margin: 0.5rem;
}


.contact-query-post-container{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  width: 50%;
  padding:1rem;
}

.contact-query-post-container > a{
  background-color: #7131B5;
  padding:.5rem .8rem .5rem .8rem;
  color: white;
  text-decoration: none;
  font-size: larger;
  text-align: center;
  border-radius: 5px;
  letter-spacing: 2px;
}