.course-detail-container{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}

.course-detail-box{
    width:80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1.5rem 0rem;
}
.course-logo{
    margin: .6rem 2rem;
}

.course-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:1rem 0rem;
}

.enroll-btn {
    padding:0.5rem 1rem 0.5rem 1rem;
    font-size: large;
    background-color: var(--purple);
    color: white;
    border: none;
    cursor: pointer;
    width:fit-content;
    margin:1rem 1rem 1rem 0rem;
    letter-spacing: 2px;
    text-decoration: none;
}

.view-btn{
    padding:0.5rem 1rem 0.5rem 1rem;
    font-size: large;
    background-color: #f4f7f5;
    color: black;
    border: none;
    cursor: pointer;
    width:fit-content;
    margin:1rem 1rem 1rem 0rem;
    letter-spacing: 2px;
    text-decoration: none;
}

.course-description-box > aside >ul > li{
     margin-top: .5rem;
}

.course-description-box{
   margin-top: 1.5rem;
} 

.course-description-box > aside {
    padding:0rem 1.5rem 1.5rem 1.5rem;
}

@media screen and (max-width: 960px) {

    .course-detail-box{
        flex-direction: column;
        align-items: center;
    }
}

