.course-detail-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.course-detail-box{
    width:80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4rem;
}
.course-logo{
    width:35%;
    height: 40%;
    margin: .6rem;
}

.course-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 1rem;
}

.enroll-btn {
    padding:0.5rem 1rem 0.5rem 1rem;
    font-size: large;
    background-color: #f4f7f5;
    color: black;
    border: none;
    cursor: pointer;
    width:fit-content;
    margin:1rem 1rem 1rem 0rem;
    letter-spacing: 2px;
    text-decoration: none;
}

.enroll-btn:hover{
    background-color: #d9dedb;
} 

.course-description-box > aside >ul > li{
     margin-top: .5rem;
}

.course-description-box{
   margin-top: 1.5rem;
} 

.course-description-box > aside {
    padding:0rem 1.5rem 1.5rem 1.5rem;
}