.hero-container {
  background: url("/public/images/img-16.jpg") center center/cover no-repeat;
  height: 100vh;
  display: flex;
  z-index: -1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  color: black;
}

.hero-container > h1 {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 5px;
  line-height: 1.2;
  margin: 0;
  padding: 0 0 10px;
  text-transform: uppercase;
}

.hero-container > p {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 3.5px;
  line-height: 1.5;
  margin: 0;
  opacity: 0.7;
  padding: 0 0 10px;
  text-transform: uppercase;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
