.profile-container{
    /* background: url('/public/images/img-19.jpg') center center/cover no-repeat; */
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    background-color: #F4F7F5;
}

.profile-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:auto;
    width:60%;
    color: black;
    padding:1rem;
    margin:1rem;
    border-radius: 10px;
}

.profile-logo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color:black;
    padding:1rem;
    border-radius: 10px;  
}

.profile-logo > img{
    width:180px;
    height:180px;
    border-radius: 50%;
}


.profile-description{
    width: 65%;
    padding: 1rem;
    font-size: 1rem;
    text-align: justify;
    border-radius: 10px;
}

.skills-section{
    margin: 1rem 0rem 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-section>span{
    margin:1rem 0rem .5rem 0rem;
}
.skills-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.skills-container > span {
    margin: 0rem 1rem 0rem 0rem;
    border-radius: 20px;
    background-color: rgb(240, 240, 240);
    color: black;
    padding:0.3rem .6rem 0.3rem .6rem;
    margin:.4rem .4rem .4rem 0rem;
    font-size: medium;
}

.skills-container > span:hover{
    cursor: pointer;
    text-decoration: underline; 
}
.skills-container > ul :hover {
   color: blue;
   cursor: pointer;
   text-decoration: underline;
}

.headline-section{
    display: flex;
    flex-direction: column;
    color: #242424;
    padding:0rem 2rem 0rem 2rem;
    width:60%;
    border-radius: 10px;
    text-align: left;
     text-align: justify;
}

.profile-title-section{
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.2;
    margin: 0;
    padding: 0 0 10px;
    text-transform: uppercase;
    height:100px;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}